html,body{
    height: 100%;
    background-image: url(../img/centreville2022.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.65); /* black overlay with 50% opacity */
    z-index: 1; /* Ensure it is above the image */
}
.cardColors{
    background-color: #0B2341;
    color:white;
    font-family:'Times New Roman', Times, serif
}
button{
    background-color: #0076D5; /* Background color on hover */
    color:white;
    border: black;
    border-radius: 4px;
}
button:hover {
    background-color: #1294ff; /* Background color on hover */
}
input{
    width:75%;
    height: 5vb;
}
.margCardT{
    margin-top: 20%;
}
.margCardB{
    margin-bottom: 20%;
}
.margCo{
    margin-left: 12vb;
}